@font-face {
    font-family: 'JetBrains Mono';
    src: url('JetBrainsMono-Regular.ttf');
}
        
body {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    background-color: #2e2e2e;
    color: #d6d6d6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #2e2e2e;
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translate(-50%, -50%);
}

li a {
    display: block;
    color: #d6d6d6;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #6c99bb;
}
        
.text {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
}
